body {
    background-image: url('Images/background-1.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.weather-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.weather-tab img {
    width: 3%;
    height: 3%;
    padding-top: 45px;
    padding-left: 45px;
}

.weather-tab {
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

.weather-data h1 {
    margin-bottom: 0;
}

.zen_zones-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 300px;
    border-bottom: 1px solid white;
}

.search-icon {
  margin-right: 5px;
}

.search-icon i {
    font-size: 20px;
    color: white;
}

input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 16px;
    color: white;
}

#main-search::placeholder {
    color: white;
}


.zen_zones-div h1 {
    font-size: 46px;
}

.zen_zones-div p {
    margin-top: 30px;
}

.zen_zones-div p {
    font-size: 28px;
}

.first-search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 5px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
}

.icons span {
    margin-right: 40px;
}

.icons span img {
    width: 25px;
    height: 27px;
    cursor: pointer;
}

/* Hover iznad ikonica (naslov ikonica) */

.icons span {
    position: relative;
  }

  .icons span:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(228, 214, 214, 0.548);
    color: red;
    font-size: 30px;
    padding: 7px 20px;
    border-radius: 4px;
    pointer-events: none;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 4px;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
  }

  .icons span:hover::after {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  .circle {
    width: 360px;
    height: 360px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .circle h3 {
    font-size: 22px;
    margin-bottom: 0;
  }

  .circle h1 {
    font-size: 48px;
  }

  .stopwatch {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wellness-tip-box {
    visibility: hidden;
    top: 20px;
    right: 20px;
    width: 300px;
    padding: 10px;
    background-color: #0b0b27b9;
    border: 1px solid #989797;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 5px;
}

#weather-wellness {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parent-wellnessBox {
    padding-right: 45px;
    padding-top: 28px;
}

.break-box {
  border: 1px solid #b6b5b5;
  padding: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 0;
  background-color: #0b0b27ee;
}

#break-options {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #c3c1c1;
  border-radius: 5px;
  background-color: #b6b5b5;
  color: #333;
  outline: none;
}

#break-options option {
  font-size: 14px;
}

#center-break-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#breathing-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.notes-container {
    width: 230px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: #0b0b27ee;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 40px;
  }
  
  .notes {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5px;
    margin-top: 5px;
    white-space: normal;
  }
  
  .note {
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    white-space: normal;
  }
  
  #noteInput {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }

.notes::-webkit-scrollbar-thumb {
    background-color: #66a3d2;
    padding-left: 5px;
  }
  
  .notes::-webkit-scrollbar-track {
    background-color: #2c3e50;
  }
  
  .notes::-webkit-scrollbar {
    width: 6px;
  }
  
  .notes::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
  
  .notes {
    scrollbar-width: thin;
    scrollbar-color: #66a3d2 #2c3e50;
  }
  
#weather-icon-data {
  width: 50px;
  height: 50px;
}

#button-start {
  width: 85px;
  height: 37px;
  background-color: rgba(135, 139, 145, 0.563);
  border: 0px solid;
  border-radius: 3px;
  color: white;
  font-size: 18px;
}

#button-start:hover {
  background-color: rgb(131, 135, 142);
  cursor: pointer;
}

.fixed-search-icons {
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
}

.fixed-h1 {
  position: fixed;
  top: 0;
  margin-top: 70px;
}

.box-for-message-break {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 40px;
  margin-bottom: 50px;
  visibility: hidden;
}

.box {
  background-color: rgb(135, 25, 25);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
}

.big-circle {
  width: 300px;
  height: 300px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-circle {
  width: 30px;
  height: 30px;
  background-color: white; 
  transform: translate(135px, 0);
}

.instruction {
  font-size: 20px;
  text-align: center;
}